__pycache__/
build/
*.egg-info/
*.so

tmp*
data/
trial*/
.vs/

#**dnerf*
#dnerf/
dnerf/network_rf.py
dnerf/network_basis_perpoint.py

**neus*
neus/

workspace/

temp*
remove_*

👑Train/
🐲Anisotropy/
🐲isotropy/
🚯bin/
🃏CUDA/
🏓unmask/
🐼0119
🐶NOMASK/
🔎highResolution/
/🐶*/
