__pycache__/
build/
*.egg-info/
*.so

tmp*
data/
trial*/
.vs/

#**dnerf*
#dnerf/
dnerf/network_rf.py
dnerf/network_basis_perpoint.py

**neus*
neus/

workspace/

temp*
remove_*


ffmlp/
*encoder/
print/**
.polyscope.ini
**/print/

gltf_buffer_*.bin
